.event-type-select{
	/*min-width:300px;*/
	min-width: 90%;
}

.event-date{
	max-width:300px;
}


.inline-label{
	text-align: left;
	display: inline-block !important;
}


.full-width{
	width:100% !important;
}
