@charset "ISO-8859-1";
body {
  background-image: url("../reso/background.jpg");
  background-size: cover;
}


h1{
	
    text-align:center;
    margin-top: -1rem; 
    margin-bottom: 2rem; 
    font-family:'Ubuntu', sans-serif; 
    color:white; 
    font-size: 150px;
    text-decoration: none;
}

a{
text-decoration: none;
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
   font-family:'Ubuntu', sans-serif; 
}
.btn-primary {
  background-color: #64a19d;
 
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}